* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-white: #ffffff;
  --color-beige: #f7ece1;
  --color-ice-white: #f5f6fa;
  --color-gray: #383838;
  --color-purple-1: #cac4ce;
  --color-purple-2: #8d86c9;
  --color-purple-3: #725ac1;
  --color-purple-4: #342c53;
  --color-purple-5: #2c2645;
  --fsize-small: 14px;
  --fsize-normal: 16px;
  --fsize-xnormal: 18px;
  --fsize-medium: 24px;
  --fsize-large: 37px;
  --spacing-10: 10px;
  --spacing-30: 30px;
  --spacing-35: 35px;
  --spacing-50: 50px;
  --spacing-90: 90px;
}

body {
  font: var(--fsize-normal) 'Urbanist', sans-serif;
  background: var(--color-ice-white);
}

.main-wrap {
  display: flex;
  height: 100vh;
  margin: 0 var(--spacing-30);
}

.split-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.design .design__ct {
  width: 90%;
  margin-bottom: 20px;
}

.design .design__ct svg {
  width: 100%;
}

.content .content__ct p {
  text-align: center;
  line-height: 1.64;
  padding: 0 75px;
}