* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-white: #ffffff;
  --color-beige: #f7ece1;
  --color-ice-white: #f5f6fa;
  --color-gray: #383838;
  --color-purple-1: #cac4ce;
  --color-purple-2: #8d86c9;
  --color-purple-3: #725ac1;
  --color-purple-4: #342c53;
  --color-purple-5: #2c2645;
  --fsize-small: 14px;
  --fsize-small2: 15px;
  --fsize-normal: 16px;
  --fsize-xnormal: 18px;
  --fsize-x2normal: 20px;
  --fsize-medium: 24px;
  --fsize-large: 37px;
  --line-height-normal: normal;
  --line-height-1: 1.5;
  --line-height-2: 1.6;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-15: 15px;
  --spacing-30: 30px;
  --spacing-35: 35px;
  --spacing-50: 50px;
  --spacing-75: 75px;
  --spacing-90: 90px;
}

body {
  font: 400 var(--fsize-normal) 'Plus Jakarta Sans', sans-serif;
  background: var(--color-ice-white);
}

.main-wrap {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 var(--spacing-30);
}

.split-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.design .design__ct {
  width: 100%;
  margin-bottom: var(--spacing-10);
}

.design .design__ct svg {
  width: 100%;
}

.content .content__ct {
  width: 100%;
}

.content .content__ct > :nth-child(n) {
  text-align: center;
  padding: 0 var(--spacing-75);
}

.content .content__ct h2 {
  font-size: var(--fsize-x2normal);
  font-weight: 700;
  color: var(--color-purple-3);
  margin-bottom: var(--spacing-12);
  line-height: var(--line-height-1);
}

.content .content__ct p {
  font-size: var(--fsize-small2);
  color: var(--color-gray);
  line-height: var(--line-height-1);
}

.split-wrap__formct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 478px;
  padding: 35px 64px;
  background: var(--color-white);
  border-radius: 8px;
}

.split-wrap__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0;
}

.form-hd__ct {
  text-align: center;
}

.form-hd__ct h2 {
  font-size: 21px;
  font-weight: 600;
  color: var(--color-gray);
  line-height: var(--line-height-1);
}

.form-hd__ct h1 {
  font-size: 35px;
  font-weight: 700;
  color: var(--color-purple-3);
  line-height: var(--line-height-1);
}

.lg-form div:first-child {
  margin-bottom: 10px;
}

.lg-form div:last-child {
  margin-top: 20px;
}

.lg-form .lg-form__ct input {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background: var(--color-ice-white);
  border: none;
}